# Nuxt dev/build outputs
.output
apps/s3-viewer/.output
.data
.nuxt
apps/s3-viewer/.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
dev/secret.yaml
.pnpm-store

apps/s3-viewer-operator/target
.turbo
